* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.error-message {
    color: red;
}

.hidden {
  display: none;
}

img {
  width: 200px; 
}

#js-search-term {
  display: block; 
}

#js-max-results {
  display: block;
}

select {
  width: 300px; 
  height: 300px;
}

#js-max-results {
  display: block;
}
